/** @format */

.container * {
  letter-spacing: 0.5px;
  color: var(--app-white);
  font-size: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 55px;
  transition: 0.3s all ease-in-out;
  font-family: var(--app-primary-font);
  font-weight: 500;
  line-height: 20px;
  color: var(--app-white);
  padding: 16px 32px;
}

button.container:disabled {
  background-color: #e5e7eb;
  color: #444444;
  border: none;
  cursor: not-allowed;
}

.container.light {
  font-family: var(--app-primary-font);
  background-color: var(--app-primary-200);
  color: var(--app-primary-500);
  font-weight: 500;
}

.container.curved {
  border-radius: 12px !important;
}

.container.rounded {
  border-radius: 12px !important;
}

.container.contained {
  background-color: #0c39ed;
  border-radius: 12px;
  filter: drop-shadow(0 4px 0px rgba(5, 23, 95, 1));
}

.container.simple span {
  background-color: var(--app-app-white);
  color: var(--app-primary-500) !important;
}

.container.outlined {
  font-weight: 500;
  color: #1A1A1A;
  background-color: #fafafa;
  border: 1px solid #dcdcdc;
  filter: drop-shadow(0 4px 0px rgba(220, 220, 220, 1));
}

.container.outlined * {
  color: #1A1A1A;
}

.container .no-background * {
  color: var(--app-primary-500) !important;
}

.container.no-background {
  background-color: transparent !important;
}

@media all and (min-width: 768px) {
  .container {
    width: fit-content;
  }
}
