.cropper-crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cropper-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}

.cropper-slider {
  padding: 1rem 0px;
  height: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  border: none;
  box-shadow: none;
  background: none;
  margin: 0 auto;
}
