.uploadBox {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: transparent;
  /* margin-bottom: 10px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  max-width: 100%;
}

.uploadBox.rectangle {
  width: 100%;
  width: -webkit-fill-available;
  height: 120px;
}

.uploadBox.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.uploadBox.circle::before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.uploadBox.circle:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.uploadBox.circle button {
  cursor: pointer;
  text-align: center;
  color: #868686;
  opacity: 1;
  font-size: 1rem;
  border-radius: 15px;
  min-width: 100px;
  padding: 0.25rem 0.5rem;
  outline: none !important;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-color: #868686;
  z-index: 1;
  border-style: solid;
}

.uploadBox.circle:hover button {
  color: #fff;
  border-color: #fff;
  opacity: 1;
}
