/** @format */

.container {
  max-width: 100% !important;
  width: 100%;
  /* max-height: 100px; */
  position: relative;
  overflow: hidden;
}

.container * {
  letter-spacing: 0.5px;
}

.container .table-container {
  width: 100%;
  /* height: calc(676px - 65px); */
  overflow-x: auto;
  overflow-y: auto;
}

.container table {
  width: 100%;
  font-size: 14px;
  /* border: 1px solid #e0e0e0; */
  padding: 80px;
  /* height: 100%; */
  /* overflow-x: auto;
	overflow-y: auto; */
  /* border-collapse: inherit;
	border-spacing: 10px 0; */
}

.container table thead {
  font-size: 14px;
  /* padding-top: 8px;
  padding-bottom: 8px; */
}

.container table thead th {
  white-space: nowrap;
  font-weight: 400 !important;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  padding-left: 16px;
  text-align: left;
  color: #5a5a5a;
}

.container table thead tr {
  padding-right: 26px;
  text-align: left;
}

.container table tbody {
  font-weight: 400;
  font-size: 14px;
  color: #5a5a5a;
  /* border-bottom: 1px solid #e0e0e0; */
}

.container table tbody td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  padding-left: 16px;
  min-height: 60px;
  border-bottom: 1px solid #e0e0e0;
}

.container table tbody tr {
  /* border-bottom: 1px solid #e0e0e0; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  display: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.no-spin {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
