.container h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--app-grey-300);
}

.close-btn {
    /* display: flex;
    margin-bottom: 19px;
    position: absolute; */
    /* top: 12px;
    left: 12px; */
}

.close-btn svg {
    cursor: pointer;
    margin-left: auto;
}

@media all and (min-width: 768px) {
    .close-btn {
        top: 24px;
        right: 24px;
    }

    .container h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .close-btn {
        margin-bottom: 38px;
    }
}