.container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
}

/* Hide default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container input:focus {
  border: none !important;
  outline: none !important;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 4px;
  border: 1.2px solid #C4C4C4;
}

.container:hover input~.checkmark {
  background-color: #ccc;
  border-radius: 4px;
}

/* checked state */
.container input:checked~.checkmark {
  background-color: #0C39ED;
  border-radius: 4px;
}

/* hidden unchecked checkmark/indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 0;
  width: 6px;
  height: 12px;
  border: solid var(--app-white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container.error .checkmark {
	border: solid var(--app-red-400);
}
