.wrapper {
  letter-spacing: 0.02em;
}

.container {
  width: 100%;
}

.icon-wrapper.nav-icon svg path {
  stroke: #9F9F9F;
}

.icon-wrapper:hover * {
  color: #0c39ed;
}

.icon-wrapper.active.nav-icon svg path,
.icon-wrapper:hover.nav-icon svg path {
  stroke: #0c39ed;
}

.icon-wrapper.active:not(.nav-icon) svg path,
.icon-wrapper:hover:not(.nav-icon) svg path {
  fill: #f5f7f9;
}

@media screen and (min-width: 768px) {
  .container.open {
    width: 303px;
  }

  .container.close {
    width: 80px;
  }
}
