.wrapper {
  background: #f5f6f8;
  min-height: 100vh;
}

.container {
  position: relative;
  margin-left: 0;
}

@media (min-width: 768px) {
  .container {
    margin-left: var(--sidebar-width);
  }
}
