@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&family=Slackside+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #0c39ed;
  --color-grey: #6c6c6c;
  --color-grey-bg: #f5f6f8;
  --color-red: #a90836;
  --color-title-black: #333333;
  --color-subtitle-gray: #667085;
  --color-active-badge-bg: #ecfdf3;
  --color-active-badge-text: #027a48;
  --color-inactive-badge-bg: #fdf0ec;
  --color-inactive-badge-text: #7a1f02;

  --font-inter: "Inter", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-archivo: "Archivo", sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --app-gray-100: #e5e5e5;
  --app-gray-150: #e8e8e8;
  --app-gray-200: #aeacb8;
  --app-gray-500: #c3c7ce;
  --app-grey-100: #f5f5f5;
  --app-grey-150: #f6f6f6;
  --app-grey-200: #9693a2;
  --app-grey-300: #3b3e45;
  --app-grey-400: #667085;
  --app-grey-500: #666e7d;
  --app-black-50: #ececec;
  --app-black-100: #444444;
  --app-black-200: #292929;
  --app-black-300: #202022;
  --app-black-350: #1f1f1f;
  --app-black-400: #0e040c;
  --app-black-500: #101828;
  --app-black-900: #202020;
  --app-primary-50: #f9fef8;
  --app-primary-100: #fcf3f4;
  --app-primary-200: #f8e6eb;
  --app-primary-300: #b55e80;
  --app-primary-350: #cc2d5a;
  --app-primary-400: #90223f;
  --app-primary-500: #a90836;
  --app-white: #ffffff;
  --app-primary-font: "Open Sans", sans-serif;
  --app-border-radius-xs: 4px;
  --app-border-radius-sm: 8px;
  --app-border-radius-md: 21px;
  --app-red-400: #ff0000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
